In [20]:
import pandas as pd
import numpy as np

best_cities = pd.read_csv('best_cities.csv')
worst_cities = pd.read_csv('worst_cities.csv')
allergist = pd.read_csv('allergist_latlong.csv')

In [6]:
best_cities[best_cities.year <=1984].groupby('city').mean()

                Unnamed: 0  year  growing_season  rank
city
Durham                  17  1967      199.542857   100
Milwaukee               17  1967      169.485714   101
Provo                   17  1967      152.571429    99
Salt Lake City          17  1967      167.914286    97
Seattle                 17  1967      236.142857    98
Stockton                17  1967      276.971429    96

In [7]:
best_cities[best_cities.year >=1985].groupby('city').mean()

                Unnamed: 0  year  growing_season  rank
city
Durham                  52  2002      210.285714   100
Milwaukee               52  2002      183.171429   101
Provo                   52  2002      179.371429    99
Salt Lake City          52  2002      193.685714    97
Seattle                 52  2002      255.028571    98
Stockton                52  2002      287.852941    96

In [8]:
worst_cities[worst_cities.year <=1984].groupby('city').mean()

             Unnamed: 0  year  growing_season  rank
city
Hartford             17  1967      164.000000     4
McAllen              17  1967      333.344828     5
New Haven            17  1967      205.771429     6
Richmond             17  1967      199.542857     1
Scranton             17  1967      174.600000     2
Springfield          17  1967      143.000000     3

In [13]:
worst_cities[worst_cities.year >1984].groupby('city').mean()

             Unnamed: 0  year  growing_season  rank
city
Hartford             52  2002      173.714286     4
McAllen              52  2002      352.307692     5
New Haven            52  2002      211.971429     6
Richmond             52  2002      214.628571     1
Scranton             52  2002      171.342857     2
Springfield          52  2002      151.971429     3

In [14]:
worst_cities[worst_cities.year >1984].groupby('city').mean().growing_season - worst_cities[worst_cities.year <=1984].groupby('city').mean().growing_season

city
Hartford        9.714286
McAllen        18.962865
New Haven       6.200000
Richmond       15.085714
Scranton       -3.257143
Springfield     8.971429
Name: growing_season, dtype: float64

In [47]:
worst_cities[worst_cities.year >=2009].groupby('city').mean().growing_season - worst_cities[worst_cities.year < 1961].groupby('city').mean().growing_season

city
Hartford       13.636364
McAllen        26.722222
New Haven       2.545455
Richmond       18.727273
Scranton       -1.363636
Springfield     8.545455
Name: growing_season, dtype: float64

In [16]:
best_cities[best_cities.year >=1985].groupby('city').mean().growing_season - best_cities[best_cities.year < 1985].groupby('city').mean().growing_season

city
Durham            10.742857
Milwaukee         13.685714
Provo             26.800000
Salt Lake City    25.771429
Seattle           18.885714
Stockton          10.881513
Name: growing_season, dtype: float64

In [46]:
best_cities[best_cities.year >=2009].groupby('city').mean().growing_season - best_cities[best_cities.year < 1961].groupby('city').mean().growing_season

city
Durham             7.545455
Milwaukee         19.000000
Provo             39.090909
Salt Lake City    38.363636
Seattle           56.727273
Stockton          27.545455
Name: growing_season, dtype: float64

In [21]:
allergist.mean()

Unnamed: 0                         313.500000
National Provider Identifier         5.199045
pop_est                         402341.878981
normalized                           1.660139
lat                                 37.913908
long                               -88.382092
dtype: float64

In [38]:
np.concatenate((np.array(allergist['normalized']), np.zeros(2153))).mean()
#length = 628; there are 3,141 counties total -- add 2,513 zeros and take average

0.3748893987152104

In [39]:
628/3141

0.1999363260108246

In [58]:
#format array for ordinal scale range in javascript

first = best_cities[best_cities.year < 1961].groupby('city').mean().sort_values('rank').growing_season
last = best_cities[best_cities.year >=2009].groupby('city').mean().sort_values('rank').growing_season
[[x,y] for x,y in zip(first, last)]

[[268.3636363636364, 295.90909090909093],
 [160.1818181818182, 198.54545454545453],
 [211.54545454545453, 268.27272727272725],
 [151.54545454545453, 190.63636363636363],
 [208.8181818181818, 216.36363636363637],
 [170.63636363636363, 189.63636363636363]]

In [59]:
first = best_cities[best_cities.year < 1985].groupby('city').mean().sort_values('rank').growing_season
last = best_cities[best_cities.year >=1985].groupby('city').mean().sort_values('rank').growing_season
[[x,y] for x,y in zip(first, last)]

[[276.9714285714286, 287.8529411764706],
 [167.9142857142857, 193.68571428571428],
 [236.14285714285714, 255.02857142857144],
 [152.57142857142858, 179.37142857142857],
 [199.54285714285714, 210.28571428571428],
 [169.4857142857143, 183.17142857142858]]

In [60]:
first = worst_cities[worst_cities.year < 1985].groupby('city').mean().sort_values('rank').growing_season
last = worst_cities[worst_cities.year >=1985].groupby('city').mean().sort_values('rank').growing_season
[[x,y] for x,y in zip(first, last)]

[[199.54285714285714, 214.62857142857143],
 [174.6, 171.34285714285716],
 [143.0, 151.97142857142856],
 [164.0, 173.71428571428572],
 [333.3448275862069, 352.3076923076923],
 [205.77142857142857, 211.97142857142856]]

In [61]:
first = worst_cities[worst_cities.year < 1961].groupby('city').mean().sort_values('rank').growing_season
last = worst_cities[worst_cities.year >=2009].groupby('city').mean().sort_values('rank').growing_season
[[x,y] for x,y in zip(first, last)]

[[201.27272727272728, 220.0],
 [175.63636363636363, 174.27272727272728],
 [153.0, 161.54545454545453],
 [167.9090909090909, 181.54545454545453],
 [323.1111111111111, 349.8333333333333],
 [212.0, 214.54545454545453]]